pkgbase = spotify-downloader
	pkgdesc = Download Spotify playlists, albums, and tracks in FLAC/MP3 format from free sources with beautiful terminal UI
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/MokshitBindal/Spotify_Downloader
	arch = any
	license = MIT
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-pip
	depends = ffmpeg
	optdepends = yt-dlp: YouTube download support
	optdepends = python-spotipy: Spotify API access
	source = spotify-downloader-1.0.1.tar.gz::https://github.com/MokshitBindal/Spotify_Downloader/archive/v1.0.1.tar.gz
	sha256sums = 92fc99206458eb64c5da4bb4a2fcad802dca532889640b0319cebe208a0ee782

pkgname = spotify-downloader
